<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kostas.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NextActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_next"
            android:parentActivityName=".MyActivity" >
        </activity>
        <activity
            android:name=".Tropoi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_tropoi"
            android:parentActivityName=".NextActivity" >
        </activity>
        <activity
            android:name=".ListItemActivity"
            android:label="@string/title_activity_list_item"
            android:parentActivityName=".NextActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kostas.myapplication.NextActivity" />
        </activity>
    </application>

</manifest>
